@media screen and (min-width: 560px) and (max-width: 1080px) {
    #onlineGuideBox {
        padding: 0 60px;
    }
    .onlieGuideBox_title {
        height: 70px;
        line-height: 70px;
        font-size: 24px;
    }
    .onlieGuideBox_content {
        margin-top: 70px;
        border-radius: 15px;
        padding: 10px 30px;
    }
    .onlieGuideBox_content_top {
        font-size: 15px;
        height: 50px;
        line-height: 50px;
    }
    .onlieGuideBox_content_top img {
        width: 20px;
        margin-top: -3px;
    }
    .onlieGuideBox_content_text {
        font-size: 13px;
        padding: 26px 0;
    }
    .onlieGuideBox_content_btn {
        font-size: 13px;
        height: 42px;
    }
    .onlieGuideBox_content_select {
        padding: 20px 0;
    }
    .onlieGuideBox_content_input {
        padding: 30px 30px;
    }
    /*网线问题模块*/
    .guide_line_detc_width {
        width: 380px;
    }
    /*上网模式模块*/
    .guide_inter_mode_width {
        width: 410px;
    }
    /*上网类型选择模块*/
    .guide_inter_type_width {
        width: 470px;
    }
    .onlieGuideBox_content_type_select {
        margin-bottom: 25px;
    }
    .internet_type_select {
        height: 52px;
        line-height: 52px
    }
    .internet_type_select_name {
        width: 28%;
        font-size: 13px;
    }
    .tinternet_type_select_content p {
        font-size: 11px;
    }
    .tinternet_type_select_content p:nth-of-type(1) {
        width: 88%;
    }
    .tinternet_type_select_content p:nth-of-type(2) {
        width: 10%;
    }
    .tinternet_type_select_content {
        width: 70%;
    }
    /*输入运营商账号密码*/
    .onlieGuideBox_content_btn_user {
        padding: 0 30px;
    }
    .onlieGuideBox_content_inputBig {
        height: 40px;
        font-size: 12px;
        padding-left: 10px;
    }
    /*设置管理密码部分*/
    .setAdminPwd_Btn {
        margin-bottom: 30px;
    }
    /*配置完成部分*/
    .onlieGuideBox_config_title {
        height: 145px;
        border: none;
    }
    .guide_config_successfully {
        width: 560px;
    }
    .onlieGuideBox_bigTitle {
        font-size: 24px;
        line-height: 71px;
        padding-left: 20px;
    }
    .onlieGuideBox_Title_p {
        font-size: 14px;
        line-height: 14px;
    }
    .guide_config_content_div {
        padding: 42px 0 42px 0px;
    }
    .onlieGuideBox_title_marginTop60>img {
        width: 30px;
        margin-top: -82px;
    }
    .guide_config_QRcode {
        border-radius: 20px;
        padding: 20px 35px 4px 35px;
    }
    .guide_config_QRcode_text {
        line-height: 45px;
        font-size: 14px;
    }
    .guide_config_info_label {
        width: 98px;
        margin-right: 22px;
        font-size: 14px;
    }
    .guide_config_info_input {
        width: 220px;
        font-size: 14px;
        padding: 8px;
    }
    .guide_config_QRcode_img {
        height: 230px;
        /* padding: 10px; */
        border-radius: 10px;
    }
    /*wifi中继向导页面*/
    .guide_wifi_relay_div {
        height: 40px;
        font-size: 12px;
    }
    .guide_wifi_relay_div_name {
        line-height: 40px;
        padding-left: 10px;
        width: 90%!important;
    }
    .guide_wifi_relay_div_img {
        line-height: 37px;
        width: 9%!important;
        left: 91%!important;
    }
    .guide_wifi_relay_div_ul {
        top: 39px;
    }
    .guide_wifi_relay_div_ul>ul {
        max-height: 224px;
        overflow: auto;
        padding: 0 20px;
    }
    .guide_wifi_relay_div_ul>ul>li {
        height: 45px;
        line-height: 45px;
    }
    .guide_wifi_relay_div_ul>ul>li>img {
        top: 10px;
    }
    .switch_smart_div {
        display: none;
    }
    .dns_select {
        margin-top: 3px;
    }
    .dns_select::before{
        top: 23px;
        right: 16px;
    }
    .dns_select::after{
        top: 21px;
        right: 15px
    }
}